[Desktop Entry]
Version=1.0.2
Type=Application
Name=Zork: The Great Underground Empire
GenericName=Zork
Exec=zork
TryExec=zork
Icon=${SNAP}/meta/gui/zork.png
Terminal=true
Path=/usr/games/
Categories=Games;
StartupNotify=true
